:root {
    --bg_color: #F0EDEE; /* "Platiunum" */
    --accent: #58A4B0; /* "Pacific Blue" */
    --text_color: #000;
    --text_shadow: #555358; /* "Charcoal" */
}
html {
    background-color: var(--bg_color);
    color: var(--text_color);
    text-shadow: 2px 2px 2px var(--text_shadow);
}
body {
    margin: 0px;
}
.accent {
    background-color: var(--accent);
    padding: 2px 16px;
    margin-bottom: 16px;
}

.section {
    margin: 8px;
}
.heading {
    background-color: var(--accent);
    display: inline-block;
    padding: 4px;
    width: calc(30% - 12px);
    vertical-align: top;
}
.heading h1 { font-size: 100%; text-align: center; }
.content {
    display: inline-block;
    padding: 4px;
    width: calc(70% - 12px);
    text-shadow: none;
}
.content p {
    margin: 0px;
}
img {
    display: inline-block;
    width: 32px;
    vertical-align: middle;
}

.source {
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: none;
    border-top: 4px solid var(--text_color);
}